.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    padding-bottom: 65px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 1px 1px 0.05px rgba(0, 0, 0, 0.416);
    z-index: 2;
}

.sidebar:hover {
    width: 270px !important;
    z-index: 2;
}

.sidebar:hover .sidebarHeader {
    width: 270px !important;
}

.sidebar::-webkit-scrollbar {
    width: 3px;
}